@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700&family=Poppins:wght@400;500;600&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  overflow-x: hidden;
  font-family: "Exo 2", sans-serif;
}
html {
  font-size: 62.5%;
}

div.not-found {
  text-align: center;
  margin-top: 3rem;
  font-size: 6rem;
}
